body {
    background-color: blue;
    color: white;
    font-family: verdana;
}

p {
    background-color: blue;
    color: white;
    font-family: verdana;
}

h1 {
    background-color:yellow;
    color: red;
    font-family: palantino;
    font-size: 300%
}
